#!/bin/bash

set -e

sed -i "s/md5/trust/" /var/lib/postgresql/data/pg_hba.conf

export PGPASSWORD=$PGPASSWORD;
psql -v ON_ERROR_STOP=1 <<-EOSQL
    CREATE DATABASE {{DATABASE_NAME}};
    CREATE USER {{DATABASE_USER}} WITH PASSWORD '{{DATABASE_PASSWORD}}';
    GRANT ALL PRIVILEGES ON DATABASE {{DATABASE_NAME}} TO {{DATABASE_USER}};
    ALTER USER {{DATABASE_USER}} CREATEDB;
EOSQL
